@model IEnumerable<DrossDrop.DTOs.User>

@{
ViewData["Title"] = "Gebruikers";
Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Alle gebruikers</h1>

<p>
    <a asp-action="Create">Nieuwe gebruiker aanmaken</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Gebruiker ID
            </th>
            <th>
                Rol ID
            </th>
            <th>
                Voornaam
            </th>
            <th>
                Achternaam
            </th>
            <th>
                Email
            </th>
            <th>
                Wachtwoord
            </th>
            <th>
                Acties
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.userId">Bewerken</a> |
                <a asp-action="Delete" asp-route-id="@item.userId">Verwijderen</a>
            </td>
        </tr>
        }
    </tbody>
</table>
